<div class="container">
    <div class="row call-to-action">
        <div class="col-lg-1">
             <span class="icon icon-envelope"></span>
        </div>
        <div class="col-lg-9">
            <h3>Haberler Facebook'ta</h3>
            <p>Sorular ve yeni haberler için facebook gurubumuzu kullanıyoruz. <span class="tr-facebook">tr-angular</span> adıyla ara.</p>
        </div>
        <div class="col-lg-2">
            <a href="https://www.facebook.com"
               target="_blank" 
               class="btn btn-success btn-action" 
               style="background-color:#3B5998">Facebook</a>
        </div>
    </div>
</div>