<div class="text-center">
	<p class="lead text-muted">
		Senin öğrenmen için tr-angular'a <br>
		<b class="text-muted">YAZANLAR</b>
	</p>
</div>
<ul class="members">
    <li><img class="sponsors-img" src="assets/images/u1.png" alt=""></li>
    <li><img class="sponsors-img" src="assets/images/u2.png" alt=""></li>
    <li><img class="sponsors-img" src="assets/images/u3.png" alt=""></li>
    <li><img class="sponsors-img" src="assets/images/u4.png" alt=""></li>
    <li><img class="sponsors-img" src="assets/images/u5.png" alt=""></li>
    <li><img class="sponsors-img" src="assets/images/u1.png" alt=""></li>
    <li><img class="sponsors-img" src="assets/images/u2.png" alt=""></li>
    <li><img class="sponsors-img" src="assets/images/u3.png" alt=""></li>
    <li><img class="sponsors-img" src="assets/images/u4.png" alt=""></li>
</ul>