<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3">
            <a href="#" class="brand">
                <img src="assets/images/logo.png" style="margin-top: -4px;" alt="Knowledge">
                <span class="circle"></span>
            </a>
        </div>
        <div class="col-lg-7 col-md-5 col-sm-9">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="copyright">
                <p>© 2017 tr-angular.com</p>
            </div>
        </div>
    </div>
</div>