<li>
    <a href="#!/" class="btn btn-success nav-btn">
        Anasayfa
    </a>
</li>
<li>
    <a href="#!/archive" class="btn btn-success nav-btn">
        Döküman
    </a>
</li>
<li>
    <a href="#!/learn" class="btn btn-success nav-btn">
        Öğren
    </a>
</li>
<li>
    <a href="#!/lab" class="btn btn-success nav-btn">
        Laboratuvar
    </a>
</li>
<!-- 
<li>
    <a href="#!/login">
        Giriş Yap
    </a>
</li>
<li>
    <a href="#!/register" class="btn btn-success nav-btn">Üye Ol!</a>
</li>
-->