<header id="hero" class="hero overlay" ng-init="home.userList()" ng-include="'app/template/home-header/home-header.html'"></header>


<div id="genre" class="home">
    <div class="container ">
        <div class="row">
            <header class="text-center">
                <h2 class="section-title"><b>Neler var!</b></h2>
                <div class="section-subtitle">Senin için yararlı olacak şeyleri yapıyoruz.</div>
            </header>
            <div class="row pt-30">
                <div class="text-center col-lg-3">
                    <div class="media-body">
                        <span class="icon"><img src="assets/images/icon/icon1.png" alt=""></span>
                        <h3>Yardım & Dökümantasyon</h3>
                        <p class="text-muted">
                            Unlike other Frameworks which try to cover everything, It has been built specifically for wordpress
                        </p>
                    </div>
                </div>
                <div class="text-center col-lg-3">
                    <div class="media-body">
                        <span class="icon"><img src="assets/images/icon/icon2.png" alt=""></span>
                        <h3>Geliştirici Kaynakları</h3>
                        <p class="text-muted">An incredibly codex has been created for you to use as reference when developing extensions</p>
                    </div>
                </div>
                <div class="text-center col-lg-3">
                    <div class="media-body">
                        <span class="icon"><img src="assets/images/icon/icon3.png" alt=""></span>
                        <h3>Topluluk Desteği</h3>
                        <p>The source code is available on GitHub, you can grab it and twist it to your heart’s content</p>
                    </div>
                </div>
                <div class="text-center col-lg-3">
                    <div class="media-body">
                        <span class="icon"><img src="assets/images/icon/icon-rocket.png" alt=""></span>
                        <h3>Kolay Kazanım</h3>
                        <p class="text-muted">An incredibly codex has been created for you to use as reference when developing extensions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="home-card">
                <div class="card" style="margin:0px;">
                    <input type="text" ng-model="home.name" placeholder="Adını Yazarmısın ?">
                    <p>
                        Merhaba <span ng-bind="home.name"></span>
                        Senin için buraları hazırladık, umarız işine yarar. 
                        <span class="tr-important">Döküman</span> kısmını okuyarak, Angular Js' e başlaya bilirsin.
                        <span class="tr-important">Öğren</span> kısmından, Angular Js' yi uygulamalı olarak pekiştire bilirsin.
                        Senin gibi gencoların yaptıklarını görmek, feyz almak için <span class="tr-important">Laboratuvar</span>'a uğra. Haberler için aşağıyı kontrol et, her an her şey olabilir! 
                    </p>
                </div>
            </div> 
        </div>
        <div class="col-md-8">
<pre>
<code class="language-markup" prism>
    &lt;input type="text" ng-model="home.name" placeholder="Adını Yazarmısın ?"&gt;
    &lt;p&gt;
        Merhaba &lt;span ng-bind="home.name"&gt;&lt;/span&gt;,
        Senin için buraları hazırladık, umarız işine yarar. 
        <span class="tr-important">Döküman</span> kısmını okuyarak, Angular Js' e başlaya bilirsin.
        <span class="tr-important">Öğren</span> kısmından, Angular Js' yi uygulamalı olarak pekiştire bilirsin.
        Senin gibi gencoların yaptıklarını görmek, feyz almak için <span class="tr-important">Laboratuvar</span>'a uğra. Haberler için aşağıyı kontrol et, her an her şey olabilir! 
    &lt;/p&gt;
</code>
</pre>
        </div> 
    </div>
   
</div>

<div class="col-md-12 section" ng-include="'app/template/community/community.html'"></div>
<div class="col-md-12 footer" ng-include="'app/template/footer.html'"></div>