<header id="hero" class="hero overlay fixed">
    <nav class="navbar" style="padding:30px 0px 10px 0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                    <a href="#!/" class="brand">
                    <img src="assets/images/logo.png" alt="Knowledge">
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right" ng-include="'app/template/navigasyon.html'"></ul>
            </div>
        </div>
    </nav>
    <div class="masthead text-center" style="padding: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2"></div>
            </div>
        </div>
    </div>
</header>
<div class="col-md-2" ng-init="archive.init()">
    <div class="row">
         <div class="list" id="style-4">
            <ul>
                <li ng-repeat="item in archive.list">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    <a ng-click="subList == true ? subList = false : subList = true">{{item.listTitle}}</a>
                    <div class="sub-list" ng-if="subList">
                        <ul>
                            <li ng-repeat="Item in item.subList">
                            <i class="fa fa-file" aria-hidden="true"></i>
                            <a>{{Item.subListTitle}}</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
</div>
<div class="col-md-10">
    <div class="row">
        <div class="article" id="style-4">
            <h1>Angular JS Nedir ?</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, eaque expedita nemo totam quibusdam mollitia, corporis id nulla quo ut iste facilis nesciunt? Suscipit reiciendis porro totam voluptatibus, architecto vel!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nesciunt saepe, corrupti totam modi, suscipit inventore commodi itaque, libero quisquam quis dolor eius neque dolorum. Culpa quod, ipsam inventore non.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odit itaque, temporibus reprehenderit illum quisquam quasi at natus distinctio recusandae nostrum, dignissimos tenetur sit, alias! Ipsum, iure, vitae. Accusamus, molestias.
                <br><br>
                Consectetur adipisicing elit. Rerum corrupti odit maiores qui eveniet necessitatibus quas provident consequuntur similique assumenda cupiditate aut totam explicabo quae, suscipit soluta, iure dolorem ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci rem qui commodi aliquid rerum in molestias similique numquam quia odit neque voluptatum iusto, nisi, distinctio saepe. Modi ad non, rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda hic magni doloribus, reprehenderit quo quam aliquam quae, quidem ad doloremque omnis sit rem, neque? Amet itaque animi pariatur aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odit molestiae, illo ullam. Quos delectus voluptatum soluta perspiciatis facere veritatis iure repudiandae, rerum doloribus aspernatur, porro. Quisquam obcaecati vero rerum.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, eaque expedita nemo totam quibusdam mollitia, corporis id nulla quo ut iste facilis nesciunt? Suscipit reiciendis porro totam voluptatibus, architecto vel!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nesciunt saepe, corrupti totam modi, suscipit inventore commodi itaque, libero quisquam quis dolor eius neque dolorum. Culpa quod, ipsam inventore non.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odit itaque, temporibus reprehenderit illum quisquam quasi at natus distinctio recusandae nostrum, dignissimos tenetur sit, alias! Ipsum, iure, vitae. Accusamus, molestias.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti odit maiores qui eveniet necessitatibus quas provident consequuntur similique assumenda cupiditate aut totam explicabo quae, suscipit soluta, iure dolorem ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci rem qui commodi aliquid rerum in molestias similique numquam quia odit neque voluptatum iusto, nisi, distinctio saepe. Modi ad non, rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda hic magni doloribus, reprehenderit quo quam aliquam quae, quidem ad doloremque omnis sit rem, neque? Amet itaque animi pariatur aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odit molestiae, illo ullam. Quos delectus voluptatum soluta perspiciatis facere veritatis iure repudiandae, rerum doloribus aspernatur, porro. Quisquam obcaecati vero rerum.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, eaque expedita nemo totam quibusdam mollitia, corporis id nulla quo ut iste facilis nesciunt? Suscipit reiciendis porro totam voluptatibus, architecto vel!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nesciunt saepe, corrupti totam modi, suscipit inventore commodi itaque, libero quisquam quis dolor eius neque dolorum. Culpa quod, ipsam inventore non.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odit itaque, temporibus reprehenderit illum quisquam quasi at natus distinctio recusandae nostrum, dignissimos tenetur sit, alias! Ipsum, iure, vitae. Accusamus, molestias.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti odit maiores qui eveniet necessitatibus quas provident consequuntur similique assumenda cupiditate aut totam explicabo quae, suscipit soluta, iure dolorem ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci rem qui commodi aliquid rerum in molestias similique numquam quia odit neque voluptatum iusto, nisi, distinctio saepe. Modi ad non, rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda hic magni doloribus, reprehenderit quo quam aliquam quae, quidem ad doloremque omnis sit rem, neque? Amet itaque animi pariatur aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odit molestiae, illo ullam. Quos delectus voluptatum soluta perspiciatis facere veritatis iure repudiandae, rerum doloribus aspernatur, porro. Quisquam obcaecati vero rerum.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, eaque expedita nemo totam quibusdam mollitia, corporis id nulla quo ut iste facilis nesciunt? Suscipit reiciendis porro totam voluptatibus, architecto vel!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nesciunt saepe, corrupti totam modi, suscipit inventore commodi itaque, libero quisquam quis dolor eius neque dolorum. Culpa quod, ipsam inventore non.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odit itaque, temporibus reprehenderit illum quisquam quasi at natus distinctio recusandae nostrum, dignissimos tenetur sit, alias! Ipsum, iure, vitae. Accusamus, molestias.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti odit maiores qui eveniet necessitatibus quas provident consequuntur similique assumenda cupiditate aut totam explicabo quae, suscipit soluta, iure dolorem ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci rem qui commodi aliquid rerum in molestias similique numquam quia odit neque voluptatum iusto, nisi, distinctio saepe. Modi ad non, rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda hic magni doloribus, reprehenderit quo quam aliquam quae, quidem ad doloremque omnis sit rem, neque? Amet itaque animi pariatur aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odit molestiae, illo ullam. Quos delectus voluptatum soluta perspiciatis facere veritatis iure repudiandae, rerum doloribus aspernatur, porro. Quisquam obcaecati vero rerum.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, eaque expedita nemo totam quibusdam mollitia, corporis id nulla quo ut iste facilis nesciunt? Suscipit reiciendis porro totam voluptatibus, architecto vel!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nesciunt saepe, corrupti totam modi, suscipit inventore commodi itaque, libero quisquam quis dolor eius neque dolorum. Culpa quod, ipsam inventore non.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odit itaque, temporibus reprehenderit illum quisquam quasi at natus distinctio recusandae nostrum, dignissimos tenetur sit, alias! Ipsum, iure, vitae. Accusamus, molestias.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti odit maiores qui eveniet necessitatibus quas provident consequuntur similique assumenda cupiditate aut totam explicabo quae, suscipit soluta, iure dolorem ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci rem qui commodi aliquid rerum in molestias similique numquam quia odit neque voluptatum iusto, nisi, distinctio saepe. Modi ad non, rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda hic magni doloribus, reprehenderit quo quam aliquam quae, quidem ad doloremque omnis sit rem, neque? Amet itaque animi pariatur aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odit molestiae, illo ullam. Quos delectus voluptatum soluta perspiciatis facere veritatis iure repudiandae, rerum doloribus aspernatur, porro. Quisquam obcaecati vero rerum.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, eaque expedita nemo totam quibusdam mollitia, corporis id nulla quo ut iste facilis nesciunt? Suscipit reiciendis porro totam voluptatibus, architecto vel!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nesciunt saepe, corrupti totam modi, suscipit inventore commodi itaque, libero quisquam quis dolor eius neque dolorum. Culpa quod, ipsam inventore non.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odit itaque, temporibus reprehenderit illum quisquam quasi at natus distinctio recusandae nostrum, dignissimos tenetur sit, alias! Ipsum, iure, vitae. Accusamus, molestias.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti odit maiores qui eveniet necessitatibus quas provident consequuntur similique assumenda cupiditate aut totam explicabo quae, suscipit soluta, iure dolorem ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci rem qui commodi aliquid rerum in molestias similique numquam quia odit neque voluptatum iusto, nisi, distinctio saepe. Modi ad non, rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda hic magni doloribus, reprehenderit quo quam aliquam quae, quidem ad doloremque omnis sit rem, neque? Amet itaque animi pariatur aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odit molestiae, illo ullam. Quos delectus voluptatum soluta perspiciatis facere veritatis iure repudiandae, rerum doloribus aspernatur, porro. Quisquam obcaecati vero rerum.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, eaque expedita nemo totam quibusdam mollitia, corporis id nulla quo ut iste facilis nesciunt? Suscipit reiciendis porro totam voluptatibus, architecto vel!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nesciunt saepe, corrupti totam modi, suscipit inventore commodi itaque, libero quisquam quis dolor eius neque dolorum. Culpa quod, ipsam inventore non.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odit itaque, temporibus reprehenderit illum quisquam quasi at natus distinctio recusandae nostrum, dignissimos tenetur sit, alias! Ipsum, iure, vitae. Accusamus, molestias.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti odit maiores qui eveniet necessitatibus quas provident consequuntur similique assumenda cupiditate aut totam explicabo quae, suscipit soluta, iure dolorem ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci rem qui commodi aliquid rerum in molestias similique numquam quia odit neque voluptatum iusto, nisi, distinctio saepe. Modi ad non, rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda hic magni doloribus, reprehenderit quo quam aliquam quae, quidem ad doloremque omnis sit rem, neque? Amet itaque animi pariatur aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odit molestiae, illo ullam. Quos delectus voluptatum soluta perspiciatis facere veritatis iure repudiandae, rerum doloribus aspernatur, porro. Quisquam obcaecati vero rerum.
                <br><br>
            </p>
        </div>
    </div>
</div>
<div class="col-md-12 footer" ng-include="'app/template/footer.html'"></div>